h1, h2, .navbar-brand, figcaption{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}


h1{
    border-bottom: tomato 5px solid;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: justify;
}

.menuNav li{
    padding-right: 40px;
}

.menuNav{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.informationLogo{
    width: 300px;
}

.inicio{
    background-color: tomato;
    border-radius: 40px;
}

footer{
    height: 60px;
}

footer p{
    color: white;
}
